# App
.sass-cache/
dist/
node_modules/
src/components.d.ts
stencil-inspector/
www/
.stylelint-cache

# IDEs
.idea/dictionaries/
.idea/**/workspace.xml
.vscode/
*.sublime-project
*.sublime-workspace

# Common OS files
$RECYCLE.BIN/
.DS_Store
Thumbs.db

# Chrome Extension
certificate/
stencil-inspector/
stencil-inspector.crx
stencil-inspector.pem
stencil-inspector.zip
