sti-logo {
  display: flex;
  flex-basis: 100%;
  background: rgb(244, 244, 244);
  padding: 5px 0;
  color: rgb(22, 22, 29);
  justify-content: center;

  & .logo {
    display: inline-flex;
    height: 25px;
    vertical-align: text-top;
  }

  & .badge {
    display: inline-flex;
    font-weight: 800;
    font-size: 12px;
    vertical-align: super;
    letter-spacing: -1px;
  }

  &.dark {
    background: rgb(42, 42, 42);
    color: rgb(244, 244, 244);
  }
}
