html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* stylelint-disable selector-max-universal */
* {
  box-sizing: border-box;
}

sti-main {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}
