:host {
  display: grid;
  grid-template-areas:
    'logo'
    'props'
    'states'
    'methods'
    'elements'
    'instance'
    'components';

  & .logo {
    grid-area: logo;
  }

  & .props {
    grid-area: props;
  }

  & .states {
    grid-area: states;
  }

  & .methods {
    grid-area: methods;
  }

  & .elements {
    grid-area: elements;
  }

  & .instance {
    grid-area: instance;
  }

  & .components {
    grid-area: components;
  }
}
