:host {
  display: flex;
  box-sizing: border-box;
  flex-flow: column;
  min-width: 100%;
  width: fit-content;

  & .message {
    text-align: center;
  }
}

:host(.dark) {
  background-color: rgb(27, 27, 27);
}
